h1 {
  margin: 50px 0px;
  font-size: 2em;
  text-align: center;
}

mat-form-field, mat-checkbox, button {
  width: 75%;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}