
<section class="slider-section clear">
  <ul class='slider'>
    <li class='item' *ngFor="let item of games" [style.background-image]="'url(' + item.gameCover + ')'">
      <div class='content'>
        <h2 class='title'>{{ item.gameName }}</h2>
        <p class='description'>Release Date: {{ item.releaseDate}}</p>
        <button
          [routerLink]="['/view-game/', item.gameName]"
        >
          Read More
        </button>
      </div>
    </li>
  </ul>
  <div class='nav'>
    <a 
      name="arrow-back-outline" (click)="moveSlider('prev')"
      >
        Next Game
      </a>
  </div>
</section>